/*! Додайте стилізацію ваших єлементів тут */

body {
    background-color: #fffbda;
}

.title-main {
    text-align: center;
    line-height: 4em;
    color: darkred;
}

.list {
    margin-left: 4em;;
}

.practice-js{
    margin-top: 100px;
    margin-left: 4em;
}


/* ---------------------LESSON-4-------------------- */
.form-group {
    margin-bottom: 15px;
}
.message {
    margin-top: 15px;
    font-weight: bold;
}

